// ==================================
// Form
// ==================================

.form {
	@include e(label){
		@include m(hidden) {
			@extend .srt;
		}
		display: block;
		margin-bottom: em(10px);
	}
	@include e(input){
		width: 100%;
		font-size: em(18px);
		padding: em(15px, 18px);
		margin-bottom: em(20px);
		border-bottom: 6px solid palette(grey, x-light);
		border-radius: $br--default;
		background: palette(grey, xx-light);
		color: palette(black, dark);
		font-weight: $font-weight--light;

		&:focus{
			border-color: $color-primary;
		}
	}

	@include e(btn) {
		@extend %btn;
		background-color: $color-primary;
		width: 100%;
	}
}