// ===========================
// Nav
// ===========================

.nav { 
	margin-top: em(20px);
	margin-bottom: em(30px);
	@include e(item){
		@extend %nav-item-disp;
		a {
			@extend %nav-item-link;
			color: palette(grey);
			&:hover{
				@extend %nav-item-on;
			}
		}
		@include m(current) {
			@extend %nav-item-disp;
			a {
				color: palette(black);
				@extend %nav-item-link;
				@extend %nav-item-on;
			}
		}
	}
}